---
proj_name: tradingradar.net
proj_url: https://tradingradar.net
proj_copy: 2025
proj_owner: Marco Pavan
proj_email: info@tradingradar.net
---

doctype html
html(lang="it")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="author" content=proj_owner)
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="dns-prefetch" href="https://www.statcounter.com/")
    link(rel="dns-prefetch" href="https://c.statcounter.com/")
    title #{title}
  body
    header header...
    main !{ content }
    footer footer...
